<h1>Home</h1>
 <%= link_to('Logout', destroy_user_session_path, method: :delete, data: { user: @user.id }, id: 'logout-link') %>

    <div id="flash-friend"></div>
    <div id="create-pin-form-helper"></div>
    <%= javascript_pack_tag 'flash_friend_map' %>
