// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-friend-map {
  padding: .5rem
}
